* {
	margin: 0px;
	padding: 0px;
}
html {
	color: -internal-root-color;
}
body {
	font-family: "Lato", "Geneva CY", "Lucida Grande", "Arial Unicode MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 15px;
	width: 100%;
	overflow: hidden;	
}
a {
	text-decoration: none;
}
#body {
	margin-bottom: 0px;
    background-repeat: no-repeat;
	background-image: url('background.jpg');
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;

}
.Context-menu {
    position: absolute;
    z-index: 10000;
    background: #fff;
    padding: 6px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    min-width: 200px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}
.Context-menu ul:first-child {
    width: 230px;
}
.Context-menu li {
    list-style-type: none;
    padding: 4px;
}
.context-menu-item {
    display: flex;
}
.Context-menu .separator {
    margin: 8px 0;
    border-bottom: 1px solid rgba(102, 137, 100, 0.2);
    padding: 0px;
}
.context-menu-item .context-menu-icon {
    height: 20px;
}
.Context-menu .context-menu-icon {
    margin: 0 4px;
}
.Context-menu .label {
    line-height: 20px;
    color: #262626;
    width: 100%;
}
.context-menu-item .context-menu-icon .date {
    color: #737272;
    box-sizing: border-box;
    font-size: 8px;
    padding-top: 8px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
}
.listsSubmenu {
    position: absolute;
    z-index: 10000;
    background: #fff;
    padding: 6px 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    min-width: 150px;
    top: 0px;
    left: 100%;
}
.menu-Item-listsSubmenu:hover  .listsSubmenu {
	display: block;
}
.menu-Item-listsSubmenu {
    position: relative;
}
.chervon {
    position: absolute;
    right: 4px;
}
.listsSubmenu {
    display: none;
}
.Context-menu li:hover {
	background: #e0eefa;
}
.background-account {
	position: fixed;
	z-index: 1;
	display: none;
	width: 100%;
	height: 100%;
}
.background-acc {
	background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    padding-top: 8%;
}
.accout-settings {
	width: 450px;
	height: 254px;
	background: #ffff;
	margin: auto;
	/* position: absolute; */
	/* top: 22%; */
	/* left: 32%; */
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.acc-top {
	display: flex;
}
.acc-left {
	width: 98px;
	border-right: 1px solid #ebebeb;
}
.acc-left li {
	margin: 9px 8px;
	cursor: pointer;
}
.acc-left ul {
	font-size: 10.5px;
	font-weight: bold;
	list-style: none;
}
.acc-left span {
	vertical-align: super;
}
.ganeral {
	    background: url(anh.png) no-repeat -167px -9px;
    width: 20px;
    height: 20px;
}
.account{
	background: url(anh.png) no-repeat -10px -159px;
    width: 20px;
    height: 20px;
}
.shortcuts {
	background: url(anh.png) no-repeat -94px -165px;
    width: 20px;
    height: 20px;
}
.smartlist {
	background: url(anh.png) no-repeat -173px -46px;
    width: 20px;
    height: 20px;
}
.noti {
	background: url(anh.png) no-repeat -70px -103px;
    width: 20px;
    height: 20px;
}
.about {
	background: url(anh.png) no-repeat -50px -164px;
    width: 20px;
    height: 20px;
}
.acc-right {
	font-size: 12px;
	background: #fbfbfb;
	width: 350px;
}
.acc-right select, {
	border-radius: 4px;
}
.acc-right div {
	border-radius: 4px;
}
.language {
	margin-top: 20px;
	margin-left: 124px;
}
.dates {
	margin-top: 20px;
	margin-left: 111px;
}
.chose {
	margin-top: 20px;
	margin-left: 186px;
}
.start {
	margin-top: 20px;
	margin-left: 86px;
}
.acc-bot {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.done {
	margin: 14px 35px;
	width: 93px;
	height: 30px;
	float: right;
	color: white;
	background: blue;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.container {
	width: 100%;
	display: flex;
}
#slide {
	width: 280px;
	height: 100vh;
	background-color: #f7f7f7;
}

.search {
	display: flex;
	background-color: #5b7a59;
	height: 45px;
}
.search .list-toggle,
.search .search-flip {
	padding: 13px 11px 12px 11px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.search .search-input {
	font-size: 18px;
	background-color: #5b7a59;
}
.search-input input {
	font-size: 18px;
	background-color: #5b7a59;
	height: 45px;
	width: 196px;
	border: none;
	color: #fff;
	outline: none;
}
.user-name {
	display: flex;
	height: 47px;
	padding-top: 2px;
	padding-bottom: 4px;
	align-items: center;	
} 
.user-tool {
	width: 200px;
	align-items: center;
	height: 45px;
	display: flex;
	padding-top: 2px;
	cursor: pointer;

}
.avatar img {
	width: 32px;
	height: 32px;
	margin-left: 5px;	
}
.user-tool .user {
	padding: 0px 5px 0px 7px; 
}
#logo {
	fill: #737272;
	display: flex;
	height: 23px;
	cursor: pointer;
}
#logo .bell {
	padding: 2px 10px 0px 10px;
	position: relative;
}
#logo .chat {
	padding: 2px 10px 0px 10px;
}
.list-scroll li {
	height: 38px;
	width: 100%;
	line-height: 38px;
	position: relative;
	cursor: pointer;
	list-style: none;
}
.list-scroll .list-icon {
	padding: 0px 3px 0px 3px;
	text-align: center;
	vertical-align: sub;
}
.list-scroll .tittle {
	padding: 0px 6px 0px 6px;
	color: #262626;
}
.list-scroll .inbox {
	fill: #2b8dec;
}
.list-scroll .today {
	fill: #5fa004;
}
.list-icon .week {
	fill: #e29600;
}
.list-scroll .list {
	fill: #b9b9b9;
}
.list-scroll a {
	padding-right: 8px;
	padding-left: 8px;
}
.ContextList {
    position: absolute;
    z-index: 10000;
    background: #fff;
    padding: 5px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    min-width: 160px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}
.ContextList li {
	list-style-type: none;
	padding: 4px;
	display: flex;
	line-height: 20px;
}
.ContextList li span {
	padding-left: 5px;
}
#sidebar {
	bottom: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: 42px;
	line-height: 42px;
	position: absolute;
	width: 280px;
	cursor: pointer;
	background: #ffff;
}
.sidebar-icon .plus-small {
	fill: #328ad6;
	padding: 0px 10px 0px 10px;
    vertical-align: sub;
}
.sidebar-label {
	color: #328ad6;
}
.user-scroll {
	background: #ffff;
	z-index: 1;
	position: absolute;
	display: none ;
    top: 90px;
    left: 5px;
    border-radius: 3px;
    font-size: 13px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}
.user-scroll ul {
	width: 226px;
}
.user-scroll li {
	margin: 1px 1px 0px 1px;
}
.list-synced  {
	padding: 12px;
	color: #aaaaaa;
}
.email {
	padding: 12px;
	color: #aaaaaa;
}
.user-scroll a {
	display: block;
	color: #262626;
	padding: 10px 12px;
}
.user-scroll .separator {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		padding-bottom: 1px;
	margin-bottom: 1px;
}
.user-scroll .center a {
	margin-bottom: 5px;
}
.user-scroll .center li {
	margin-bottom: -5px;
}
.separator li:hover {
	background: #e0eefa;
}
.Mouse-right2 li:hover {
	background: #e0eefa;
}
.user-scroll .center li:hover {
	background: #e0eefa;
}
.option {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	padding-top: 8%;
	/* top: 10%;/*  
	/* left: 7%; */
 */}
#sidebar:hover .option-table {
	display: block;
}
.option-table {
	width: 392px;
	background: #ffff;
	/* position: absolute; */
	z-index: 1;
	border-radius: 3px;	
	margin: auto;
	/* top: 6%; */
	/* right: 46%; */
	box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.table-header {
	padding: 14px 14px 0px;
	font-size: 14px;
}
.option .createnew {
	text-align: center;
}
.option text {
	font-size: 15px;
	padding: 9px 10px 10px;
	width: 340px;
	color: #262626;
	border-radius: 3px;
}
.search-name {
	margin : 14px 0px;
	position: relative;
}
.search-name input {
	box-shadow: inset 0 0 0 1px #d6d6d6;
	padding: 9px 10px 10px; 
	width: -webkit-fill-available;
	border: none;
	border-radius: 3px;
	outline: none;
	font-size: 15px;
}
.tab-list {
	border-bottom: 1px solid #d6d6d6;
}
.option ul {
	display: flex;
	font-weight: bold;
}
.option li {
	list-style: none;
	font-size: 10px;
	padding: 6px;
	margin-right: 8px;
}
.tab-list a {
	color: #737272;
}
.option .add input {
	padding-left: 38px;
}
.search-name svg {
	position: absolute;
	left: 10px;
	top: 7px;
	fill: #676767;
}
.option .member {
	border-top: 1px solid #d6d6d6;
} 
.member-email {
	padding: 6px 14px;
	display: flex;
	cursor: pointer;
}
.content-people-meta {
	padding-left: 10px;
}
.people-label {
	font-weight: bold;
	color: #262626;
	font-size: 14px;
	float: left;
}
.people-email {
	color: #737272;
	font-size: 12px;
}
.people-badgde {
	margin-left:  83px;
}
.blue {
	font-size: 8px;
	display: inline-block;
	vertical-align: super;
	color: #1f7bcc;
	text-transform: uppercase;
	border: 1px solid #328ad6;
	border-radius: 10px;
	padding: 2px 7px;
}
.table-footer {
	border-top: solid 1px #d6d6d6;
	padding: 12px;
	
}
.cancel {
	font-weight: bold;
	color: #737272;
	padding: 8px 12px;
	width: 25%;
	background: #fafafa;
	box-shadow: inset 0 0 0 1px #d6d6d6;
	border: none;
	outline-color: #fafafa;
	border-radius: 3px;
	cursor: pointer;
}
.save {
	font-weight: bold;
	color: #ffff;
	background-color: #328ad6;
	padding: 8px 12px;
	width: 25%;
	border-radius: 3px;
	border : none;
	outline: none;
	cursor: pointer;
}
.main {
	display: flex;
	width: 1086px;
}
.activeTb {
  	background: #e0eefa;
}
.main-center {
	height: 100vh;
	/* width: 100%; */
	flex-grow: 1;
	/* margin-right: 367px; */
}
.task-active .task-head {
	background-color: #668964;
	height: 45px;
	display: flex;
}
.task-head h1 {
	color: #ffff;
	padding: 10px 14px;
	font-size: 19px;
	font-weight: 200;
	cursor: pointer;
}
.action {
	display: flex;
	margin-left: auto;
	text-align: center;
}
.action span {
	display: block;
}
.tabtext {
	color: #ffff;
	font-size: 10px;
	opacity:;
}
.action a {
	padding: 6px;
	min-width: 40px;
	opacity: 0.5;
}
.action a svg {
	fill: #ffff;
}
#taskscroll {
	margin-left: 7px;
	margin-right: 7px;
	padding-left: 7px;
	padding-right: 7px;
	height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}
.addtask {
	background: rgba(102, 137, 100, 0.75);
	margin : 14px 0px;
	padding: 0px 12px;
	height: 47px;
	border-radius: 3px;
	position: relative;
	display: flex;
	cursor: pointer;
}
.addtask .plus-small {
	fill: #ffff;
	margin: inherit;
	position: absolute;
	display: flex;
}
.addtask .inputtask {
	padding-left: 28px;
	padding-right: 0px;
}
.addtask input {
	background: none;
	border: none;
	color: #ffff;
	font-size: 15px;
	width: 100%;
	padding: 13px 60px 14px 0px;
	outline: none;
}
.hidden {
	opacity: 0.7;
}
#taskscroll .addtask-icon {
    display: inline-flex;
    margin: auto;
    opacity: 0.5;
}
.addtask-today, .addtask-starred, .hidden  {
	display: none;
}
.addtask-icon .addtask-today {
    margin-right: 15px;
}
.addtask svg {
    fill: #fff;
}
.inputtask::placeholder {
	color: #ffff;
	opacity: 0.6;
}
#searchIp::placeholder {
	color: #ffff;
	font-size: 14px;
}
.task-active {
	background: #e1f2fe;
}
.taskitem {
	height: 47px;
	margin : 1px 0px;
	border-radius: 3px;
	display: flex;
	align-items:center ;
	position: relative;
	background: #ffff;
	cursor: pointer;
}
.taskitem button {
	background: none;
	border: none;
	width: 50px;
	cursor: pointer;
	outline: none;
	margin-top: 3px;
}
.item-wrapper + span {
	display: none;
}
.taskitem p {
	word-wrap: break-word;

}
.taskitem span {
	display: none;
}

.taskIt-active {
    background: #e1f2fe;
}
::-webkit-scrollbar {
    width: 6px !important;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(102, 137, 100, 0.75);
    border-radius: 3px;
}
p {
	width: 100%;
	margin: auto 0px;
}
.item-wrapper {
	width: 100%;
	margin: auto 0px;
}
.taskitem-info {
	font-size: 10px;
}
.taskitem-dele span {
	text-decoration-line: line-through;
}
.taskitem-dele .star-dd {
	fill: #d74e48;
}
.showcomplete {
	font-size: 11px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: max-content;
}
.showcomplete a {
	display: inline-block;
	background: rgba(102, 137, 100, 0.75);
	line-height: 16px;
	padding: 3px 10px;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ffff;
	font-weight: 400;
}
.small-star {
}
.task-star {
	fill: rgba(0, 0, 0, 0.3);
	background: none;
}
.taskitem-dele {
	display: flex;
	height: 47px;
	background: #ffff;
	border-radius: 3px;
	opacity: 0.6;
	margin: 1px 0px;
	position: relative;
	cursor: pointer;
}
.checkdele {
    /* right: 10px;
    top: 0px;
    position: absolute; */
	fill: rgba(0, 0, 0, 0.35);
}
.taskitem-dele button {
	width: 50px;
	border: 0px;
	background: none;
	cursor: pointer;
	outline: none;
}
.main-right {
	display: none;
	width: 367px;
	height: 100vh;
	background-color: #ffff;
	position: relative;
}
.tittle-head {
	border-bottom: 1px solid #ebebeb;
	display: flex;
	padding: 16px 18px 14px;
	font-size: 16px;
	align-items: center;
	min-height: 24px;
}
.displayview {
	width: 85%;
	outline: none;
	font-size: 15px;
	border: none;
	margin-bottom: 3px;
}
.detail-check {
}
#detail-checkbox {
	/* position: absolute; */
	padding-right: 10px;
}
.tittle-head button {
	border: 0px;
	background: none;
	margin-right: 2px;
	cursor: pointer;
	outline: none;
}
#tittle-body {
	padding-left: 10px;
	padding-right: 0px;
	background-color: #fafafa;
}
#tittle-body .section-icon {
	margin-top: 5px;
	margin-right: 8px;
	margin-left: 8px;
	fill: #a3a3a2;
	cursor: pointer;
}
#tittle-body li {
	line-height: 48px;
	height: 48px;
	border-bottom: 1px solid #ebebeb;
	position: relative;
	list-style: none;
}
#tittle-body text {
	vertical-align: super;
	right: 0px;	
	left: 50px;
}
#tittle-body input {
	border : none;
	outline: none;
	font-size: 15px;
	background: none;
}
.due {
	color: #328ad6;
	padding-left: 3px;
	border: 1px;
}
.section-icon .date {
	fill: #328ad6;
}
.section-icon .reminder {
	fill: #b3312d;
}
.clock {
	color: #b3312d;
	padding-left: 3px;
}
.small-plus {
	color: #9fa2a6;
}
.kep {
	color: #9fa2a6;
}
.fullsrceen {
	right: 20px;
	position: absolute;
	margin-top: 5px;
	cursor: pointer;
}
input [type="file"] {
	display: none;
}
label {
	color: #9fa2a6;
	font-size: 15px;
}
.icon-sec {
	right: 20px;
	position: absolute;
	margin-top: 5px;
	cursor: pointer;
}
.main-right .avatar {
	margin-top: 6px;
}
#gmail {
	padding: 6px 10px;
	cursor: pointer;
	display: flex;
}
.note {
	height: 39%;
	overflow: auto;
	background-color: #fafafa;
}
.content-mail {
	height: 100%;
	overflow: 
}
.content-name {
	padding-top: 6px;
	padding-left: 10px;
}
.myname {
	font-weight: bold;
	font-size: 14px;
	float: left;
	white-space: normal;
}
.tittle-footer {
	bottom: 0px;
	position: absolute;
	height: 88px;
	background: #ffff;
	width: 100%;
}
.comment {
	line-height: 20px;
	padding: 10px 0px 10px 10px;
	font-size: 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
textarea {
	width: 97%;
	border-radius: 3px;
	outline: none;
}
.footer-info {
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
.close {
	margin-left: 8px;
}
.detail-info {
	margin-left: auto;
}
.detail-info text {
	font-size: 11px;
	color: #a3a3a2;
}
.dele {
	margin-right: 8px;
	margin-left:  auto ;
}
/*   @media screen and  (max-width:1000px){
      .slide{
          width: 42px !important;
      }
      .user{
          display: none;
      }
      .tittle {
      	display: none;
      }
      .logo{
          display: none;
      }
      .arow-down{
          display: none;
      }
      .sidebar-label {
      	display: none;
      }
      #sidebar{
          width: 42px !important;    
      }
      .bell { 
      	display: none;
       }
       .chat {
       	display: none;
       }
      .sidebar{
          margin-left: 7px !important;
          border-top: 
      }      
      .main-right{
          position: ;
          right: 0px;
      }    
} */
  @media screen and (max-width:550px) {
      .main-right {
          width: 100%;
          background-position: center;
      }
      .slide {
      	display: none;
      }
      .main-center {
      	display: none;
      }
}
.hoverr:hover #delete1 {
	display: block;
}
.hoverrr:hover #delete2 {
	display: block;
}
#delete2 {
	display: none;
}
#delete1 {
	display: none;
}
#delete1 ,#delete2 {
	right: 20px;
	position: absolute;
	margin-top: 5px;
}
#gmail:hover #delete3 {
	display: block;
}
#delete3 {
	display: none;
}
#delete3 {
	right: 20px;
	position: absolute;
	margin-top: 11px;
}
.hoverr, .hoverrr {
	display: flex;

}
.bell:hover, .chat:hover {
	fill: #262626;
}
.action a:hover {
	opacity: 1;
}
.plus-small, .options, .clip {
	vertical-align: sub;
}
#alert-confirm-delete-list-center{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
#alert-confirm-delete-list-center .underlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;   
}
.alert-deletetaskItem{
    min-width: 430px;
    min-height: 205px;
    z-index: 1;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -215px;
    margin-top: -102px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition        : all .1s ease;
    -webkit-transition: all .1s ease;
    animation: scale-display-alert-confirm 1.5s;
    animation-fill-mode:forwards;
}
.avawunder{
    min-width: 430px;
    min-height: 150px;
    border-bottom: 1px solid #ebebeb;
}
.flat-icon{
    float: left;
}
.flat-icon img{
    height: 60px;
    margin-top: 19px;
    margin-left: 13px;
}
.alert-text{
    float: right;
    display: grid;
    margin-top: 18px;
    margin-right: 52px;
    width: 256px;
}
.btn-deletetaskItem .cancell{
    margin-top: 14px;
    margin-left: 79px;
    display: block;
    float: left;
}
.cancell button{
    height: 25px;
    width: 122px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    outline: none;
    border-radius: 3px;
}
#delete-to-do{
    float: right;
    margin-top: 14px;
    margin-right: 91px;
}
#delete-to-do button{
    height: 25px;
    width: 122px;
    background: #3e3edc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: cornsilk;
    outline: none;
    border-radius: 3px;
}
.star-dd {
	fill: #d74e48;
    position: absolute;
    top: 0px;
    right: 11px;
    display: none;
}
#task-star {
	position: absolute;
	top: 15px;
	right: 13px;
	fill: rgba(0, 0, 0, 0.3);
}
.taskitem-dele:first-child{
	/* display: none; */
}
.hideSlide{
    width: 280px !important  ;
}

.hideSlide  .user{
    display: block !important;
}
.hideSlide .arow-down{
    display: inline !importants;
}
.hideSlide .chat{
	display: inline !important;
}
.hideSlide .bell {
	display: inline !important;
}
.hideSlide #sidebar{
    width: 280px !important;
}
.hideSlide .sidebar-label{
    display: inline;
}

.hideSlide #searchIp {
    display: inline !important;
}
.hideSlide .search-input .icon-search{
    display: block !important;
}

.hideSlide .tittle{
    display: inline !important;
}
.hideSlide .sidebar-label{
    display: inline !important;
}
.slide{
    width: 42px !important ;
}
.slide .tittle{
    display: none;
}
.slide  .user{
    display: none;
}
.slide  .arow-down{
    display: none;
}
.slide  .chat{
    display: none;
}.slide  .bell{
    display: none;
}
.slide #tittle{
    display: none;
}
.slide #sidebar{
    width: 42px !important;
}
.slide .sidebar-label{
    display: none;
}
.slide .sidebar-icon{
    margin-left: 8px;
}
#gmail p {
	display: none;
}